.main {
  padding: 40px;
  height: 100vh;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secondRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
}

.thirdRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cityInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cityText {
  white-space: nowrap;
  width: 200px;
}

.hotelRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.footer {
  padding-bottom: 40px;
}
